#pfuture {
    background: #ffd9cc;
}

#pconditional {
    background: #cccc99;
}

#pimperfect {
    background: #ffff99;
}

#ppreterite {
    background: #8cff66;
}

#ppresent {
    background: #33ccff;
}

#sfuture {
    background: #ff794d;
}

#sconditional {
    background: #666633;
}

#simperfect {
    background: #ffff00;
}

#spreterite {
    background: #00ff00;
}

#spresent {
    background: #0099cc;
}

#ifuture {
    background: #cc3300;
}

#iconditional {
    background: #333300;
}

#iimperfect {
    background: #cccc00;
}

#ipreterite {
    background: #339933;
}

#ipresent {
    background: #003366;
}