.wrapper {
    /*border: 5px solid #462921;*/
    width: max-content;
    height: max-content;
    ;
    margin: 0 auto;
    display: grid;
    padding: 6px auto;
    grid-gap: 0;
    grid-template-columns: repeat(6, 70px);
    grid-template-rows: repeat(6, 30px);
    grid-auto-flow: row;
}

.wrapper-inner {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: auto;
    grid-auto-flow: row;
    align-items: strech;
}

.box {
    padding: 2px auto;
    font-size: 1em;
    /*background-color: #fe8;*/
    color: #000;
    text-align: left;
}

.box-inner {
    text-align: center;
    align-self: center;
}

#mood,
.top,
.bottom {
    display: grid;
    align-items: stretch;
    background-color: #fe8;
}

.top {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}

#pfuture {
    background: #ffd9cc;
}

#pconditional {
    background: #cccc99;
}

#pimperfect {
    background: #ffff99;
}

#ppreterite {
    background: #8cff66;
}

#ppresent {
    background: #33ccff;
}

#sfuture {
    background: #ff794d;
}

#sconditional {
    background: #666633;
}

#simperfect {
    background: #ffff00;
}

#spreterite {
    background: #00ff00;
}

#spresent {
    background: #0099cc;
}

#ifuture {
    background: #cc3300;
}

#iconditional {
    background: #333300;
}

#iimperfect {
    background: #cccc00;
}

#ipreterite {
    background: #339933;
}

#ipresent {
    background: #003366;
}